:root {
    --foreground-bg:#614c42;
    --foreground-border: #000000;
    --backdrop-bg: #5a433a;
    --backdrop-border: #4a3930;
    --text: white;
    --text-light:#d6c3bb;
    --input-bg: #2c2421;
    --background: linear-gradient(0deg, rgb(98, 150, 76) 0%, rgb(135, 201, 221) 100%);
    --shaded-bg: #483730;
}
* {
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    /* margin: 0; */
    color:var(--text);
    background:var(--background);
    background-image: url('background.png');
    backdrop-filter: blur(7px);
    /*background-image: url(https://terraria.wiki.gg/images/0/0e/Site-background-overworld.jpg);*/
    background-size: cover;
    height: auto;
    height: 100%;
    background-repeat: no-repeat;
    line-height: 1.5;
    font-family: sans-serif;
}
#header {
    position: sticky;
    width: fit-content;
    height: fit-content;
    top: 10px;
    margin: 0px 5px;
    background-color: var(--backdrop-bg);
    border-style: solid;
    border-radius: 10px;
    border-color: var(--backdrop-border);
    border-width: 2px;
}
#header > * {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: var(--foreground-bg);
    border-color: var(--foreground-border);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: var(--text);
    appearance: button;
}
#header > div:hover {
    background-color: var(--shaded-bg);
}
#header > * > a {
    color: var(--text);
    text-decoration: none;
}
#footer {
    background-color: var(--shaded-bg);
    border-color: var(--foreground-border);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 15px 5px 15px;
}
div#title {
    background-color: var(--backdrop-bg);
    border: var(--backdrop-border);
    margin: 10px auto 10px auto;
    padding:0px;
    display: flex;
    text-align: center;;
    border-radius: 10px;
    font-size: 2em;
    border-style: solid;
}
#title > * {
    flex-grow: 1;
}
div#FlexContainer {
    background-color: var(--backdrop-bg);
    border: var(--backdrop-border);
    display: flex;
    flex-flow: row wrap;
    border-style:solid;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    justify-content: center;
    height: 100%;
}
@media (min-width:960px) {
    div#title, #FlexContainer {
        max-width: 66%;
    }
    
}
@media (max-width:960px) {
    div#title {
        max-width: 100%;
    }
    
}
.label {
    font-size: 0.8em;
}
.itemImg {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    object-fit:contain;
}
.accImg {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
}
.itemWrapper {
    text-align: center;
    width: min-content;
    min-width: 50px;
    color: var(--text-light);
    text-decoration: none;
    text-underline-offset:5px;
}
.accWrapper {
    text-align: center;
    width: min-content;
    min-width: 40px;
    color: var(--text-light);
    text-decoration: none;
    text-underline-offset:5px;
    font-size: 14px;
}
.guidewrapper {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.guideaccwrapper {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

}
.guidewrapper > * {
    margin-left: 10px;
    margin-right: 10px;
}
.guideaccwrapper > .guidewrapper {
    width: 20%;
    text-decoration: underline;
}
.guideNote {
    font-size:small;
}
.wrapper {
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.reforgewrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.accessory {
    flex-basis: 70%;
}
.accessoryReforge {
    flex-basis: 30%;
}
.boxTitle {
    text-align: center;
    border-bottom: 1px ;
    border-bottom-style: solid;
    border-bottom-color: var(--foreground-border);
    font-size: 1.2em;
}
input {
    max-height: 1em;
    text-align: center;
}


#DividerWrapper{
        display: flex;
        flex-flow: row wrap;
        margin: 0 0;
        justify-content: center;
        height: 100%;
        flex-basis: 70%;
}
#DividerWrapper2 {
    flex-basis: 20%;
}


div#title > *{
    margin:auto;
}

select, button {
    color: var(--text);
    background-color: var(--shaded-bg);
    border-color: var(--shaded-bg);
    border-radius: 5px;
    border-width: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 1.5em;
}

button:active {
    background-color: var(--input-bg);
    border-color: var(--backdrop-border);
}

.inputField {
    max-width: 400px;
    margin-left: 0.5em;
    margin-right:0.5em;
}


.divider {
    background-color: var(--foreground-bg);
    border-color: var(--foreground-border);
    padding: 5px;
    border-style: solid;
    margin:10px;
    max-width:20em;
    min-width: 17.5em;
    flex-basis:20em;
    flex:1;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    border-width: 1px;
}
.line {
    height: 0px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: var(--foreground-border);
    margin: 4px;
}
.divider > * {
    margin: 0.25em;
}

.dataoutput {
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--backdrop-bg);
    background-color: var(--backdrop-bg);
    min-height: 1.5em;
    max-width: 400px;
    margin-left: 0.5em;
    margin-right:0.5em;
}

input {
    color: var(--text);
    background-color: var(--backdrop-bg);
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--input-bg);
    border-width: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 1.5em;
}